
<div class="container">
  <div >
      <nav class='navbar navbar-default'>
          <div class='container-fluid'>
              <a [routerLink]="['/home']" class='navbar-brand'>{{pageTitle}}</a>
              <ul class='nav navbar-nav'>
                  <li><a [routerLink]="['/login']">Login</a></li>
                  <li><a [routerLink]="['/register']">Register</a></li>
              </ul>
          </div>
      </nav>
  </div>
  <div class="Jumbotron">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>